# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    responsive.css                                     :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: mpascaud <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/09/23 17:09:56 by mpascaud          #+#    #+#              #
#    Updated: 2018/09/23 17:35:13 by mpascaud         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body
{
	font-family:Times;
}

h1
{
	font-size:2vw;
}

.mass
{
	font-size:1vw;
}

.number
{
	font-size:1vw;
}
