body
{
	background-color:#505050;
}

header
{
}

.head_class
{
	width:75%;
	height:15%;
	background-color:#909090;
	position:absolute;
	left:13.5%;
	top:2%;
	border-radius:4px 4px 4px 4px;
	box-shadow:5px 5px 5px black;
}

.day_42
{
	height:80%;
	position:relative;
	left:1%;
	top:6.5%;
}

.loupe
{
	height:105%;
	float:right;
	position:relative;
	right:0%;
	top:10%;
}

.reload
{
	height:13%;
	float:right;
	position:relative;
	right:0.8%;
	top:7%;;
}

.close
{
	height:13%;
	float:right;
	position:relative;
	right:-0.6%;
	top:81%;
}

.nav
{
	width:7.4%;
	height:45%;
	background-color:#909090;
	position:absolute;
	left:15%;
	top:19.7%;
	border-radius:4px 4px 4px 4px;
	box-shadow:5px 5px 5px black;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	padding-top:4px;
	padding-bottom:4px;
}

.oeil
{
	border:2px red solid;
	border-radius:3px;
}

.section
{
	background-color:#909090;
	width:53.5%;
	height:65%;
	position:absolute;
	left:24%;
	top:19.7%;
	border-radius:4px 4px 4px 4px;
	box-shadow:5px 5px 5px black;
	display:flex;
	padding:4px;
}

.aside
{
	background-color:#909090;
	width:7.4%;
	height:45%;
	position:absolute;
	left:80%;
	top:19.7%;
	border-radius:4px 4px 4px 4px;
	box-shadow:5px 5px 5px black;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	padding-top:7px;
	padding-bottom:4px;

}

.towel
{
	position:relative;
	top:2.5%;
}

.wall
{
	display:flex;
	flex-direction:column;
	position:relative;
	left:7%;
	top:3.5%;
	min-height:1%;
}

.wall2
{
}


.brick
{
	float:left;
	min-height:250%;
}

.bonjour
{
	background-color:#88ff89;
	width:27%;
	height:19%;
	position:absolute;
	left:10%;
	top:75%;
	border-radius:4px 4px 4px 4px;
	box-shadow:5px 5px 5px black;
	font-family:arial;
	font-size:7px;
	padding:0.5%;
	letter-spacing:0.4px;
}

.gras
{
	font-family:Times;
	font-size:15px;
}

.ordinateurs
{
	text-shadow:2px 2px 3px red;
}

.italic
{
	font-style:italic;
}

.formulaire
{
	height:5px;
	width:73%;
	border-width:1px;
	border-bottom-color: #eeeeee;
	border-right-color: #eeeeee;
}

.repondre
{
	font-size:0.01em;
	float:right;
	width:25%
}

